:root{
  --marigold : hsl(42,99%,46%);
  --cultured-2 : hsl(0,0,97%);
  --raisin-black-2 : hsl(236,17%,17%);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--raisin-black-2);
}

form{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset{
  width: 60vw;
  height: 90vh;
  display: block;
  text-align: center;
  border-color: var(--marigold);
}

legend{
  font-size: xx-large;
  font-weight: bold;
  color: var(--marigold);
}

label{
  display: block;
  margin-top: 1.5vh;
  font-size: larger;
  color: var(--marigold);
}

.input-box{
  min-width: 400px;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: rgb(237, 232, 232);
  box-shadow: 15px 15px 20px rgb(168, 168, 168);
  margin: 25px;
  transition: box-shadow 0.5s;
}

.input-box:focus{
  box-shadow: 5px 5px 15px rgb(168, 168, 168);
}


textarea{
  border: none;
  outline: none;
  background-color: rgb(237, 232, 232);
  box-shadow: 15px 15px 25px rgb(168, 168, 168);
  padding: 10px;
  transition: box-shadow 0.5s;
}

textarea:focus{
  box-shadow: 5px 5px 20px rgb(168, 168, 168);
}

input[type=file]{
  margin-left: 7vw;
  font-size: medium;
  color: var(--marigold);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btn {
  margin-top: 1vh;
  padding: 10px 30px;
  background-color: rgb(237, 232, 232);
  color: var(--raisin-black-2);
  border: none;
  font-size: 22px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

.btn:hover {
  box-shadow: 5px 5px 15px rgb(168, 168, 168);
  color: var(--raisin-black-2);
  background-color: var(--marigold);
}